{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>&emsp;Django&ensp;Web&ensp;项目&ensp;—&ensp;任务实战</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" href="{% static 'images/code.png' %}">

	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
	<noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>
</head>

<body class="is-preload" onload="init()">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="content">
				<div class="inner">
					<h1 style="text-transform: none;">Django Web 实战项目</h1>
					<p style="text-transform: none;">
						{% if user.is_authenticated %}
						你好，{{ user.username }}！<a style="cursor: pointer;" onclick="logout()">点击注销</a>
						{% else %}
						<a href="#login" onclick="setFocus()">点击登录</a>
						{% endif %}
					</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#intro">项目介绍</a></li>
					<li><a href="#login" onclick="setFocus()" {% if user.is_authenticated %}style="display: none;"{% else %}{% endif %}>登录/注册</a></li>
					{% if user.is_authenticated %}
					<li><a href="#task1">任务一</a></li>
					<li><a href="#task2">任务二</a></li>
					<li><a href="#task3">任务三</a></li>
					<li><a href="#task4">任务四</a></li>
					<li><a href="#task5">任务五</a></li>
					<li><a href="#task6">任务六</a></li>
					<li><a href="#task7">任务七</a></li>
					<li><a href="#task8">任务八</a></li>
					{% endif %}
					<li><a href="#feedback">问题反馈</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="intro">
				<h2 class="major">💬 项目介绍</h2>
				<span class="image main"><img src="{% static 'images/bg-code.jpg' %}" alt="" /></span>
				<p>利用本学期所学知识开发出一个成熟的 Django Web 项目.</p>
				<blockquote>
					相关知识点：<b>Web 开发基础</b>、<b>MVC 开发模式</b>、<b>Django Web</b>、
					<b>Mysql 数据库</b>、<b>前端开发</b>、<b>UI 框架 BootStrap</b> 等...
				</blockquote>
				<hr>
				<p><b>项目包含内容：</b></p>
				<ul>
					<li>项目名&emsp; ——《博客系统》</li>
					<li>项目功能 —— 博客阅读、用户登录、编写博客及发布</li>
					<li>项目呈现 —— 部署到云服务器</li>
				</ul>
			</article>

			<!-- Login -->
			<article id="login">
				<h2 class="major">😀 欢迎登录</h2>
				<form method="post" onsubmit="return login()">
					{% csrf_token %}
					<div class="fields">
						<div class="field half">
							<label for="name">真实姓名</label>
							<input type="text" name="name" id="name" required />
						</div>
						<div class="field half">
							<label for="password">密码</label>
							<input type="password" name="password" id="password" required />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="登录" class="primary" /></li>
						<li><input type="button" onclick="javascript:window.location.href='#register'; setFocus()" value="没有账号？立即注册" /></li>
						<li style="line-height: 44px;"><a href="#forget">忘记密码</a></li>
					</ul>
				</form>
			</article>

			<!-- Register -->
			<article id="register">
				<h2 class="major">😛 注册成为新朋友</h2>
				<form method="post" onsubmit="return register()">
					{% csrf_token %}
					<div class="fields">
						<div class="field half">
							<label for="name">真实姓名</label>
							<input type="text" name="name" id="name_r" required />
						</div>
						<div class="field half">
							<label for="email">邮箱（用于找回密码）</label>
							<input type="email" name="email" id="email_r" required />
						</div>

						<div class="field">
							<label for="password">密码</label>
							<input type="password" name="password" id="password_r" required />
						</div>
						<div class="field">
							<label for="password2">确认密码</label>
							<input type="password" name="password2" id="password2" required />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="注册" class="primary" /></li>
						<li><input type="button" onclick="javascript:window.location.href='#login'; setFocus()" value="已有账号？马上登录" /></li>
					</ul>
				</form>
			</article>

			<!-- Forget -->
			<article id="forget">
				<h2 class="major">💡 忘记密码</h2>
				<form method="post" onsubmit="return done()">
					{% csrf_token %}
					<div class="fields">
						<div class="field half">
							<label for="email">邮箱</label>
							<input type="text" name="email" id="email_p" required />
						</div>
						<div class="field quarter">
							<label for="rcode">验证码</label>
							<input type="text" name="rcode" id="rcode" required />
						</div>
						<div class="field quarter">
							<label for="rcode">&ensp;</label>
							<input type="button" onclick="verify()" id="verify_input" value="验证" class="fit"/>
						</div>
						<div class="field">
							<input type="button" value="获取验证码" id="gc" class="primary" onclick="get_code();" />
						</div>
						<hr>
						<div class="field">
							<label for="password">新密码</label>
							<input type="password" name="password" id="password_p" disabled="disabled" required />
						</div>
						<div class="field">
							<label for="password2">确认新密码</label>
							<input type="password" name="password2" id="password2_p" disabled="disabled" required />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="确定" id="vbtn" class="primary" disabled="disabled" /></li>
						<li><input type="button" onclick="javascript:window.location.href='#login'; setFocus()" value="想起密码？返回登录" /></li>
					</ul>
				</form>
			</article>

			<!-- Task1 -->
			<article id="task1">
				<h2 class="major">任务一： 基本环境搭建</h2>

				<br>

				<section>
					<h3 class="major">1. 在本机创建虚拟环境</h3>
					<h4>知识点</h4>
					<ol>
						<li>每一个虚拟环境都相当于一个新的 “操作系统”，你可以在这个新的环境里安装软件，保存资料.</li>
						<li>Python 中提供了第三方模块<code>virtualenv</code>用于创建针对于 Python 的虚拟环境.</li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>下载 Python 第三方库<code>virtualenv</code>：</li><br>
						<pre><code># 在终端下执行
pip install virtualenv</code></pre>
						<li>在项目文件夹下创建虚拟环境：</li><br>
						<pre><code># 终端下执行
# 默认项目文件夹为 `project`
project/ $ virtualenv django_env

# 创建好后 `project` 文件夹下会多出 `django_env` 文件夹</code></pre>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>

				<section>
					<h3 class="major">2. 开启虚拟环境，并安装<code style="text-transform: none;">django 3.0</code></h3>
					<h4>知识点</h4>
					<ol>
						<li>Django 是 Python 目前最流行的一款 Web 框架，现已发行到 3.0+ 版本</li>
						<li>Django 官网：<a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a></li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>在项目文件夹下开启虚拟环境：</li><br>
						<pre><code># 在终端下执行
# 默认项目文件夹为 `project`
project/ $ .\\env\\Scripts\\activate
(env) project/ $

# 成功开启后，终端命令提示符前会有虚拟环境文件夹名提醒</code></pre>
						<li>在虚拟环境下安装 <code>django</code>：</li><br>
						<pre><code># 终端下执行
(env) project/ $ pip install django</code></pre>
						<li>退出虚拟环境：</li><br>
						<pre><code># 终端下执行
(env) project/ $ .\\env\\Scripts\\deactivate
project/ $</code></pre>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>

				<section>
					<h3 class="major">3. 创建 <code style="text-transform: none;">Django</code> 项目：</h3>
					<h4>知识点</h4>
					<p>&emsp;&emsp;无</p>
					<h4>操作</h4>
					<ol>
						<li>在项目文件夹下开启虚拟环境：</li><br>
						<pre><code># 在终端下执行
# 默认项目文件夹为 `project`
project/ $ .\\env\\Scripts\\activate
(env) project/ $

# 成功开启后，终端命令提示符前会有虚拟环境文件夹名提醒</code></pre>
						<li>在项目文件夹下创建 <code>django</code> 项目：</li><br>
						<pre><code># 终端下执行
(env) project/ $ django-admin startproject mysite</code></pre>
						<li>启动 <code>django</code> 项目：</li><br>
						<pre><code># 终端下执行
# 进入刚创建好的项目文件夹
(env) project/ $ cd mysite
# 启动项目，用默认 8000 端口开启
(env) project/mysite/ $ python manage.py runserver 8000</code></pre>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>
				
				<section>
					<h3 class="major">4. 配置 <code style="text-transform: none;">Django</code> 项目：</h3>
					<h4>知识点</h4>
					<ol>
						<li>修改 <code>django</code> 配置文件在其 <code>mysite/settings.py</code> 文件中进行</li>
						<li>需要有的基本配置包括：<code>语言</code>、<code>时区</code>、<code>模板文件目录</code>、<code>静态文件目录</code>、<code>数据库</code></li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>修改 <code>settings.py</code> 文件以添加 template 目录：</li><br>
						<pre><code>...
# 第 57 行
'DIRS': [os.path.join(BASE_DIR, 'templates'),],
# 第 58 行
'APP_DIRS': True,
...</code></pre>
						<li>在 <code>mysite</code> 项目文件夹下创建 <code>templates</code> 模板目录：</li><br>
						<pre><code># 终端下执行
(env) mysite/ $ mkdir templates</code></pre>
						<li>修改 <code>settings.py</code> 文件以添加静态文件 static 目录：</li><br>
						<pre><code>STATIC_URL = '/static/'
# 第 121 行后添加
STATICFILES_DIRS = (
	os.path.join(BASE_DIR, 'static'),
)</code></pre>
						<li>在 <code>mysite</code> 项目文件夹下创建 <code>static</code> 静态文件目录：</li><br>
						<pre><code># 终端下执行
(env) mysite/ $ mkdir static</code></pre>
						<li>修改 <code>settings.py</code> 文件以修改语言：</li><br>
						<pre><code># 第 107 行修改
LANGUAGE_CODE = 'zh-hans'</code></pre>

						<li>修改 <code>settings.py</code> 文件以修改时区：</li><br>
						<pre><code># 第 109 行修改
TIME_ZONE = 'Asia/Shanghai'</code></pre>
						<li>修改 <code>settings.py</code> 文件以配置 Mysql 数据库：</li><br>
						<pre><code># 第 76 行修改
DATABASES = {
	# 'default': {
	#     'ENGINE': 'django.db.backends.sqlite3',
	#     'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
	# }
	'default': {
		'ENGINE': 'django.db.backends.mysql',   # 数据库引擎
		'NAME': 'blog',                         # 数据库名，先前创建的
		'USER': 'root',                         # 用户名，可以自己创建用户
		'PASSWORD': 'password',                 # 密码
		'HOST': '127.0.0.1',                    # mysql 服务所在的主机 ip
		'PORT': '3306',                         # mysql 服务端口
	}
}</code></pre>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>
				
				<br>

				<section>
					<h3 class="major">5. 创建 app 应用 <code style="text-transform: none;">blog</code>：</h3>
					<h4>知识点</h4>
					<ol>
						<li>在 <code>django</code> 项目中创建 app 应用指令：</li><br>
						<pre><code>python manage.py startapp app_name</code></pre>
						<li>主路由在 <code>mysite.urls</code> 中配置，子路由在创建的 <code>app.urls</code> 中配置</li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>创建 <code>app</code> 应用，命名为 <code>blog</code>：</li><br>
						<pre><code># 终端下执行
(env) project/mysite $ python manage.py startapp blog</code></pre>
						<li>在 <code>settings.py</code> 文件中配置 <code>blog</code> 应用：</li><br>
						<pre><code># 第 33 行中添加 blog
INSTALLED_APPS = [
	'django.contrib.admin',
	'django.contrib.auth',
	'django.contrib.contenttypes',
	'django.contrib.sessions',
	'django.contrib.messages',
	'django.contrib.staticfiles',
	'blog',
]</code></pre>
						<li>在 <code>mysite/</code> 项目文件夹下，修改 <code>urls.py</code> 文件，分配 <code>/blog/</code> 路由：</li><br>
						<pre><code>from django.contrib import admin
from django.urls import path, include

urlpatterns = [
	path('admin/', admin.site.urls),
	path('blog/', include('blog.urls', namespace='blog'))
]</code></pre>

						<li>在 <code>blog/</code> 应用文件夹下，新建 <code>urls.py</code> 文件，并分配路由 ''，指向视图函数 <code>index</code>，且命名为 index：</li><br>
						<pre><code>from django.urls import path
from . import views

app_name = 'blog'

urlpatterns = [
	path('', views.index, name='index'),
]</code></pre>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>

				<section>
					<h3 class="major">6. 视图函数 <code style="text-transform: none;">Views</code> 及模板页面：</h3>
					<h4>知识点</h4>
					<ol>
						<li>所谓视图函数，就是通过编写函数的形式调用视图层文件（在 django 中为 <code>templates</code> 模板文件），通常都是展示给用户的图形界面.</li>
						<li>视图函数也可以返回 <code>Http</code> 相应，即 <code>django</code> 中 <code>HttpResponse</code>.</li>
						<li><code>urls.py</code> 路由中指定对应的视图函数 <code>views</code>，视图函数负责返回给用户页面 <code>html</code> 文件或 <code>http</code> 响应.</li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>修改 <code>blog/views.py</code> 文件：</li><br>
						<pre><code>from django.shortcuts import render

# Create your views here.

def index(request):
	return render(request, 'blog/index.html')</code></pre>
						<li>创建 <code>templates/blog/index.html</code> 文件，并编辑：</li><br>
						<pre><code>Hello world!</code></pre>
						<li>启动 <code>django</code> 项目，并访问 <a style="cursor: pointer;">http://127.0.0.1:8000/blog/</a> 查看效果.</li>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>

				<section>
					<h3 class="major">7. 本节任务完，下为项目整体结构：</h3>
					<pre><code># 项目整体结构如下
├── mysite/
│   ├── blog/
│   │   ├── __init__.py
│   │   ├── admin.py
│   │   ├── apps.py
│   │   ├── models.py
│   │   ├── tests.py
│   │   ├── urls.py
│   │   ├── views.py
│   ├── mysite/
│   │   ├── __init__.py
│   │   ├── settings.py
│   │   ├── urls.py
│   │   ├── wsgi.py
│   ├── static/
│   ├── templates/
│   │   ├── blog/
│   │   │   ├── index.html
│   ├── manage.py</code></pre>
				</section>

				<div style="text-align: center;">
					{% if task.task1 %}
					<ul class="icons">
						<li><a style="cursor: pointer;" title="已完成" onclick="task1(false)" class="fa fa-check"></a></li>
					</ul>
					{% else %}
					<input type="button" onclick="task1(true)" value="完成打卡"  />
					{% endif %}
				</div>
			</article>

			<!-- Task2 -->
			<article id="task2">
				<h2 class="major">任务二：前端搭建及模板继承</h2>

				<section>
					<h3 class="major">6. 视图函数 <code style="text-transform: none;">Views</code> 及模板页面：</h3>
					<h4>知识点</h4>
					<ol>
						<li>所谓视图函数，就是通过编写函数的形式调用视图层文件（在 django 中为 <code>templates</code> 模板文件），通常都是展示给用户的图形界面.</li>
						<li>视图函数也可以返回 <code>Http</code> 相应，即 <code>django</code> 中 <code>HttpResponse</code>.</li>
						<li><code>urls.py</code> 路由中指定对应的视图函数 <code>views</code>，视图函数负责返回给用户页面 <code>html</code> 文件或 <code>http</code> 响应.</li>
					</ol>
					<h4>操作</h4>
					<ol>
						<li>修改 <code>blog/views.py</code> 文件：</li><br>
						<pre><code>from django.shortcuts import render

# Create your views here.

def index(request):
	return render(request, 'blog/index.html')</code></pre>
						<li>创建 <code>templates/blog/index.html</code> 文件，并编辑：</li><br>
						<pre><code>Hello world!</code></pre>
						<li>启动 <code>django</code> 项目，并访问 <a style="cursor: pointer;">http://127.0.0.1:8000/blog/</a> 查看效果.</li>
					</ol>

					<h4>相关截图</h4>
					<p>&emsp;&emsp;无</p>
				</section>

				<br>

				<section>
					<h3 class="major">7. 本节任务完，下为项目整体结构：</h3>
					<pre><code># 项目整体结构如下
├── mysite/
│   ├── blog/
│   │   ├── __init__.py
│   │   ├── admin.py
│   │   ├── apps.py
│   │   ├── models.py
│   │   ├── tests.py
│   │   ├── urls.py
│   │   ├── views.py
│   ├── mysite/
│   │   ├── __init__.py
│   │   ├── settings.py
│   │   ├── urls.py
│   │   ├── wsgi.py
│   ├── static/
│   ├── templates/
│   │   ├── blog/
│   │   │   ├── index.html
│   ├── manage.py</code></pre>
				</section>

				<div style="text-align: center;">
					{% if task.task2 %}
					<ul class="icons">
						<li><a style="cursor: pointer;" title="已完成" onclick="task2(false)" class="fa fa-check"></a></li>
					</ul>
					{% else %}
					<input type="button" onclick="task2(true)" value="完成打卡"  />
					{% endif %}
				</div>
			</article>

			<!-- Task3 -->
			<article id="task3">
			</article>

			<!-- Feedback -->
			<article id="feedback">
				<h2 class="major">👍 问题反馈</h2>
					<form method="post" onsubmit="return feedback();">
						<div class="fields">
							<div class="field half">
								<label for="name">您的称呼</label>
								<input type="text" name="name" id="name_fb" required />
							</div>
							<div class="field half">
								<label for="email">邮箱（选填）</label>
								<input type="email" name="email" id="email_fb" placeholder="方便与您取得联系..." />
							</div>
							<div class="field">
								<label for="message">反馈内容</label>
								<textarea name="message" id="message" rows="4" style="resize: none;" required></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="提交" class="primary" /></li>
							<li><input type="reset" value="清空" /></li>
						</ul>
					</form>
			</article>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; sicnu. cs <a href="#" target="" title="IT 培优">IT 培优</a> - made by <a href="#"
                    title="fmw" target="">范茂伟</a>
            </p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>


	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="{% static 'js/sweetalert.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	
</body>

</html>
